.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container button {
  margin-right: 1rem;
}

.content-card {
  padding: 5rem;
  background-color: rgb(241, 240, 240);
  border-radius: 10px;
}