
.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card-tabpanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-card h3 {
  margin: 0;  
  margin-bottom: 1.5rem;
}

.loggedout-connect-btn {
  margin-bottom: .6rem;
  padding: 1rem 2rem;
  background-color: #00F4C5;
  border: 0px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.loggedout-connect-btn:hover {
  background-color: #00c79f;
  cursor: pointer;
}

.wallet-ui-container {
  margin-bottom: 1rem;
}


.main-titles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-titles-container h1 {
  font-size: 7rem;
  margin: 0;
  color: white;
  /* margin-top: 1rem; */
}

.main-titles-container h2 {
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: 7rem;
  color: white;
}

@media screen and (max-width: 570px) {
  .main-titles-container h1 {
    font-size: 3rem !important;
  }
  .main-titles-container h2 {
    font-size: 1.5rem;
  }
}

.connect-btn-helper-text p {
  margin: 0;
  /* margin-top: .2rem; */
  text-align: center;
  color: white;
  font-weight: bold;
}

